.panel-footer {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
}

.nav li {
	display: inline;
}
.nav a {
	width: 100%;
	font-weight: bold;
	padding-bottom: 10px;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 0px;
	font-size: 12px;
	text-transform: uppercase;
}

.container {
	width: 100%;
}

.jumbotron {
	background-image: url(/images/white_cloud_at_blue_sky_199201.jpg);
	background-size: cover;
	width:100% !important;
}

.my-fluid-container {
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
}

.jumbotron .my-fluid-container {
  background: rgba(126,128,135,0.5);
	margin-left: -80px;
	margin-right: -80px;
	padding-left: 100px;
	padding-right: 100px;
	bottom:0;
}

.jumbotron h1 {
	color: white;
}

.jumbotron p {
	color: white;
}

.row {
	padding: 50px;
}

.navbar-brand {
	padding-top:0px;
	padding-left:25px;
}

.navbar-fixed-top {
	background-color: #f8f8f8;
	border-color: #e7e7e7;
}
