.nav li {
	display: inline;
}
.nav a {
	width: 100%;
	font-weight: bold;
	padding-bottom: 10px;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 0px;
	font-size: 12px;
	text-transform: uppercase;
}

.container {
	width: 100%;
}

.jumbotron {
	background-image: url(/images/#);
	background-size: cover;
	width:100%;
}

.jumbotron h1 {
	color: #0066CC;
}

.jumbotron p {
	color: #0066CC;
}

.row {
	padding: 50px;
}

.navbar-brand {
	padding-top:0px;
	padding-left:25px;
}

.col-md-12 p {
	padding-top: 15px;
	border-bottom: 1px solid #ddd;
}

.panel-footer {
	border-bottom-right-radius: 0px;
  	border-bottom-left-radius: 0px;
}
}